spring:
  application:
    name: library-book-service

  config:
    import: optional:configserver:http://localhost:8888

  data:
    mongodb:
      uri: mongodb://localhost:27017/bookdb
      auto-index-creation: false

  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000   # ms
            readTimeout: 5000      # ms

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
