spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://localhost:8888

# Tu peux laisser ça ici au cas où le config-server n'est pas dispo,
# mais normalement ce sera dans config-repo/api-gateway.yml
server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

cloud:
  gateway:
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true
