spring:
  application:
    name: recommendation-service

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000   # en ms
            readTimeout: 5000      # en ms

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
